<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Duracion de descanso</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Presiona aqui" [(ngModel)]="fulltime" ></ion-datetime>
  </ion-item>

  <!--<ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>-->

  <circle-progress (click)="startTimer()"
    [percent]="percent"
    [maxPercent]="100"
    [radius]="radius"
    [showTitle]="false"  
    [showSubtitle]="false"
    [subtitle]="remainingTime"
    [subtitleFontSize]="40"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [outerStrokeColor]="'#8000FF'"
    [showZeroOuterStroke]="false"
    [backgroundStroke]="'#33003F'"
    [backgroundStrokeWidth]="3"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#FF00CB'"
    [showInnerStroke]="false"
    class="small-svg"
    ></circle-progress>

  <p>{{ elapsed.h }}:{{ elapsed.m }}:{{ elapsed.s }}</p>

  <ion-fab vertical = "bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTimer()" >
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running>
      <ion-fab-button (click)="stopTimer()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>
</ion-content>
